:root{
    --green:#1ec6b6;
    --light-grey:#f7f7f7;
    --dark:#0e1010;
    --trans: all 0.3s ease-in-out;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:transparent;
    padding: 1rem 0;
    z-index: 999;
}
.navbar .container{
    justify-content: space-between;
} 
.site-brand{
    color:#fff;
    font-size: 2.4rem;
    font-family:'Raleway',sans-serif;
    font-weight: 600;
    opacity: 0.95;
}
.site-brand span{
    font-weight: 300;
}
#navbar-show-btn{
    background: transparent;
    color: #fff;
    font-size:2rem;
    opacity: 0.9;
    transition: var(--trans);
    border: none;
}
/* navbar side menu */
#navbar-collapse{
    background-color:var(--green) ;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    transform: translateX(100%);
    transition: var(--trans);
}
.navbar-collapse-rmw{
    /* js related */
    transform:translateX(0)!important;
}
#navbar-close-btn{
    background: none;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 2rem;
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: none;
}
#navbar-close-btn:hover{
    background-color: #fff;
    color: var(--green);
}
.navbar-nav{
    margin-top: 5rem;
}
.nav-item{
    margin: 1.6rem 0;
}
.nav-link{
    color: #fff;
    font-size: 1.2rem;
    transition: var(--trans);
}
.nav-link:hover{
    opacity: 0.8;
}
/* header */
/* index  */
header{
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
    url(../foto/logo-1.jpeg);
    flex-direction: column;
    color: #fff;
    text-align: center;
} 





.header-title h1{
    font-size: 2.8rem;
    letter-spacing: 2px;
    animation: bounce-in-top 1.1s both;
}

.header-title p{
    margin: 1.8rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
}

@keyframes bounce-in-top{
    0%{
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38%{
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72%{
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    81%{
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95%{
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.header-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem 0;
    border-radius: 0.2rem;
}
.header-form h3{
    font-size: 1.2rem;
}
.header-form form{
    flex-direction: column;
    margin-top: 1.8rem;
}
.header-form form .form-control{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.header-form input[type = 'date']{
    text-transform: uppercase;
}
.header-form input:not([type = 'sumbit'])::placeholder{
    color: #fff;
}

::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
.header-form .btn{
    margin-top: 0.8rem;
}
.navbar-cng{
    background-color: #fff;
    box-shadow: 0px 4px 5px 0px rgba(48,48,48,0.2);
    transition: var(--trans);
}

.navbar-cng .site-brand{
    color: var(--dark);
}
.navbar-cng .site-brand span{
    color: var(--green);
}
.navbar-cng #navbar-show-btn{
    color: var(--green);
}

/* featured */
.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: var(--trans);
}
.featured-item::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8)99%, rgba(0,0,0,0.8)100%) ;
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
    transform: translateY(68%);
    transition: var(--trans);
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
.featured-item-content .text{
    color: #fff;
    transition: var(--trans);
}
.featured-item:hover .featured-item-content{
    transform: rotateY(0);
}

/* services */
#services{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../foto/mountain-2585069.jpg)center/cover no-repeat;
}
#services *{
    color:#fff ;
}
.services-item{
    text-align: center;
    padding: 2rem 0.5rem;
    margin: 2rem 0;
}
.services-icon{
    font-size: 3.2rem;
}
.services-item h3{
    margin: 1rem 0;
    font-size: 1.6rem;
}
.services-item .btn{
    margin-top: 1.6rem;
    display: inline-block;
}

/* testimonials */
#testimonials{
    background-color: var(--light-grey);
}
.test-item{
    border: 2px solid var(--light-grey);
    padding: 2rem 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 2rem 0 14rem 0;
}
.test-item::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}

.test-item-info{
    position: absolute;
    top: 110%;
    left: 50%;
    transform:translateX(-50%) ;
    text-align: center;
}
.test-item-info img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 1rem;
}
.test-item-info h3{
    font-size: 1rem;
}

.video-wrapper{
    height: 500px;
    position: relative;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#play-btn{
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 70px;
    background-color: var(--green);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    padding-left: 0.4rem;
    transition: var(--trans);
}

/* video */
.video-wrapper{
    height: 500px;
    position: relative;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#play-btn{
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 70px;
    background-color: var(--green);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    padding-left: 0.4rem;
    transition: var(--trans);
}
#play-btn:hover{
    transform: scale(1.1);
}

/* Footer */
footer{
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    position: relative;
}
footer::before{
    content: "";
    position: absolute;
    background-color: var(--green);
    height: 4px;
    top:0;
    left: 0;
    width: 100%;
}
footer .site-brand{
    margin-bottom: 1.5rem;
    display: block;
    font-size: 2rem!important;
}
.footer-item{
    margin: 3rem 0;
}
.footer-item a{
    font-size: 1.2rem;
    color: #fff;
    transition: var(--trans);
}
.footer-item a:hover{
    color: var(--green);
}
.footer-item ul{
    padding: 0;
}
.footer-item h2{
    margin-bottom: 1.4rem;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links li{
    margin: 0.5rem;
}
.footer-item:nth-child(3) li{
    margin: 0.5rem 0;
}
.footer-item:nth-child(3) a{
    display: inline-block;
    font-size: 1rem;
    opacity: 0.7;
}
.subscribe-form form{
    flex-direction: column;
}
.subscribe-form form input{
    width: 100%;
    max-width: 300px;
}
.subscribe-form .form-control{
    border-color: rgba(255, 255, 255, 0.3);
    transition: var(--trans);
}
.subscribe-form .footer-control:focus{
    border-color: #fff;
}
.subscribe-form form input[type = "email"]::placeholder{
    color: #fff;
    opacity: 0.3;
}


/* Gallery Page */
header.header-sm{
    min-height: 60vh;
}
/* Gallery */
.gallery-item{
    margin: 2rem 0 ;
    overflow: hidden;
    position: relative;
    transition: var(--trans);
    cursor: pointer;
}
.gallery-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 0% transparent 18%, rgba(0,0,0,0.8)99%, rgba(0,0,0,0.8)100%);
}
.gallery-item img{
    transition: var(--trans);
}
.gallery-item:hover img{
    transform: scale(1.2);
}
.zoom-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    z-index: 2;
    opacity: 0;
    transition: var(--trans);
}
.gallery-item:hover .zoom-icon{
    opacity: 1;
}

/* img modal box */
#img-modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: none;
}
/* display menu */

#img-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
}
#img-mdoal img{
    width: 100%;
    height: 100%;
}
#img-modal-box button{
    position: absolute;
    font-size: 1.4rem;
    background-color: #fff;
    width: 35px;
    height:35px;
    border-radius: 50%;
    transition: var(--trans);
    border: none;
}
#img-modal-box button:hover{
    opacity: 0.9;
}

#modal-close-btn{
    top: -17.5px;
    right: -17.5px;
    z-index: 999;
}
#next-btn{
    top: 50%;
    right: 1rem;
    transform:translateY(-50%) ;
}
#prev-btn{
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
#next-btn:hover, #prev-btn:hover{
    background-color: var(--dark);
    color: #fff;
}
/* popular section */
#popular.py-4{
    padding-bottom: 0;
}
.popular-item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition:var(--trans);
}
.popular-item::after{
    content: "";
    z-index:1 ;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8)99%, rgba(0,0,0,0.8)100%);
}

.popular-item div{
    position: absolute;
    color: #fff;
    z-index: 2;
    bottom: -100%;
    width: 100%;
    padding: 2rem;
    transition: var(--trans)
}
.popular-item .reating{
    justify-content: flex-start;
    margin:0.7rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 0;
}

.popular-item:hover div{
    background-color: #fff;
    color: #000;
    bottom: 0;
    opacity: 0.95;
}

/* Blog Page */
/* blog */
#blog{
    background-color:var(--light-grey) ;
}
.blog-item{
    background-color: #fff;
    transition: var(--trans);
}
.blog-item-top{
    position: relative;
}
.blog-date{
    position: absolute;
    background-color: var(--green);
    color: #fff;
    padding: 0.5rem;
    height: 38px;
    min-width: 160px;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: -19px;
    left: 5%;
}
.blog-item-bottom{
    padding: 2rem 1rem;
}
.blog-item-bottom span{
    text-transform: uppercase;
    color: var(--dark);
    opacity: 0.7;
    letter-spacing: 2px;
    display: block;
    margin-top: 1rem;
}
.blog-item-bottom a{
    margin: 1rem 0;
    font-size: 1.4rem;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    line-height: 1.6rem;
    transition: var(--trans);
}
.blog-item-bottom a:hover{
    opacity: 0.8;
     
}

/* about page  */
/* about */
.about-right .text{
    margin-bottom: 1rem;
}
.about-right h2{
    margin-bottom: 2.5rem;
}

/* facts */
#facts{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../foto/alpine-4237636.jpg)center/cover no-repeat;
    min-height: 80vh;
}
#facts .title-wrap{
    color: #fff;
}
#facts .sm-title{
    color: #fff;
}
.facts-item{
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.facts-icon{
    font-size: 3.2rem;
}
.font-info strong{
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}
.facts-icon .text{
    text-transform: uppercase;
}

/* conatct page */
/* contact */
.contact-form .form-control{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    display: block;
    margin: 1.6rem auto;
}
.contact-form .btn{
    display: block;
    margin: auto;
}
.contact-icon{
    background-color: var(--green);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 1rem auto;
    font-size: 2rem;
}
.contact-item{
    text-align: center;
    margin: 3rem 0;

}

.contact-item div span{
    font-weight: 600;
    font-family: "Ralway", sans-serif;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
}

/* styling for dark mode */
.navbar-nav{
    align-items: center;
}
#theme-toggle-btn{
    position: relative;
    cursor: pointer;
    appearance: none;
    width: 70px;
    height: 32px;
    background-color: var(--dark);
    border: 3px solid var(--dark);
    border-radius: 20px;
    outline: none;
    transition: var(--trans)
}
#theme-toggle-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #fff;
}



.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
 }


 .about .about-content .skills .skill-item{
    flex:  0 0 100%;
    max-width: 100%;

 }

 .about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
 }

 .about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
 }


 .about .about-content .skills .skill-item {
    margin-bottom: 25px;
 }

 .about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
 }

 .about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top:  -40px;
    font-weight: 400;
    line-height: 40px;
 }

@media screen and (min-width: 992px){
    #theme-toggle-btn{
        margin-left: 2rem;
    }
}
#theme-toggle-btn:checked::after{
    right: 0;
    left: auto;
    background-color: var(--dark);
}
#theme-toggle-btn:checked{
    background-color: #fff;
    border-color: #fff;
}

body.dark-mode .navbar-cng{
    background: var(--dark);
}
body.dark-mode, body.dark-mode #testimonials, body.dark-mode #blog{
    background-color: var(--dark);
}
body.dark-mod .text, body.dark-mode .navbar-cng
 .site-brand, body.dark-mode .navbar-cng
  .nav-link, body.dark-mode .lg-title, body.dark-mode .navbar-cng #navbar-show-btn,
   body.dark-mode .test-item-info h3, body.dark-mode .about-right h2, body.dark-mode .contact-item div span,
    body.dark-mode .blog-item-bottom a, body.dark-mode .blog-item-bottom span {
    color: #fff;
}
body.dark-mode .form-control{
    border-color: rgba(255, 255, 255, 0.4)!important;
    color: #fff;
}
body.dark-mode .blog-item, body.dark-mode .test-item{
    background-color: #161919;
}
body.dark-mode .popular-item .text{
    color: #000;
}





